{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-1"></div>
    <div class="col-6"> 
        <h1>Curso Node</h1>
        <p>
            Sección about del site, utilizando hbs
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/node-logo.png" alt="logo nodejs" class="img-thumbnail">
    </div>
</div>
{{> footer }}